<div class="cl-content-sections8">
  <a href="#">
    <div class="cl-content-section">
      <div class="cl-content-section-title"><b>IT аутсорсинг</b></div>
      <div class="cl-content-section-text">Обслуживание компьютеров серверов и оргтехники организаций, проведение аудита и консалтинга IT инфраструктуры организаций, выявление слабых мест</div>
    </div>
  </a>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b>Услуги приходящего системного администратора</b></div>
    <div class="cl-content-section-text">Предоставление квалифицированного персонала для решения задач любой сложности на гибких условиях</div>
  </div>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b></b></div>
    <div class="cl-content-section-text"></div>
  </div>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b></b></div>
    <div class="cl-content-section-text"></div>
  </div>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b></b></div>
    <div class="cl-content-section-text"></div>
  </div>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b></b></div>
    <div class="cl-content-section-text"></div>
  </div>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b></b></div>
    <div class="cl-content-section-text"></div>
  </div>
  <div class="cl-content-section">
    <div class="cl-content-section-title"><b></b></div>
    <div class="cl-content-section-text"></div>
  </div>
</div>
<div class="cl-content-sections2">
  <div class="cl-content-section-big">
    <div class="cl-content-section-title"><b>Наше участие</b></div>
    <div class="completed-projects">
      <div class="completed-projects-title">
        <a href="#">ГБУЗ РМ «Республиканская офтальмологическая больница»</a>
      </div>
      <div class="completed-projects-date">12.03.2015 01:46</div>
    </div>
    <div class="completed-projects">
      <div class="completed-projects-title">
        <a href="#">Компания «Техтрансконтроль»</a>
      </div>
      <div class="completed-projects-date">12.03.2015 01:45</div>
    </div>
    <div class="completed-projects">
      <div class="completed-projects-title">
        <a href="#">ГАУЗ РМ «Республиканский врачебно – физкультурный диспансер»</a>
      </div>
      <div class="completed-projects-date">12.03.2015 01:44</div>
    </div>
    <button class="btn-show-all">показать все</button>
  </div>
  <div class="cl-content-section-big">
    <div class="cl-content-section-title"><b>Новости компании</b></div>
    <div class="company-news"></div>
    <button class="btn-show-all">показать все</button>
  </div>
</div>
<div class="cl-content-description">
  <p>Компания <b>"Мульти-Сервис"</b> создана 8 апреля 2011 года.</p>
  <p>Цель создания - <b>Внедрение инновационных технологий, реализация экономически эффективных и социально значимых проектов. Разработка и проектирование технически сложных систем с применением современных IT-технологий</b></p>
  <p>Миссия компании: <b>"Мы предлагаем самые рациональные, выгодные и качественные решения в области IT"</b></p>
  <p>Мы предлагаем :</p>
  <ul>
    <li>Разнопрофильные направления по реализации IT проектов.</li>
    <li>Выгодные и оптимальные варианты внедрения IP-телефонии.</li>
    <li>Интегрирование в различных масштабах СКС, СКУД, видеонаблюдения.</li>
    <li>Гибкий подход к клиентам в рамках предоставления услуг аутсорсинга.</li>
  </ul>
  <p><b>"С нашими знаниями и опытом ваш бизнес в надежных руках"</b></p>
</div>
